body{
    background-attachment: fixed;
    background-color: #f7f7f7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}


/* Header */
header{
    background-color: #151515;
}
.titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #838386;
}
.subtitulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Menu */
div #menu{
    background-color: #838386;
    width: 30%;
}
.nav-link{
    color: black;
}
.nav-tabs{
    --bs-nav-tabs-link-hover-border-color: none;
    --bs-nav-tabs-border-color: none;
}
.nav-link {
    transition: 0.5s;
}
.nav {
    --bs-nav-link-hover-color: rgb(255, 251, 2);
}
.nav-link:focus, .nav-link:hover {
    color:yellow;
}
.dropdown-menu {
--bs-dropdown-link-active-bg:  yellow ;
--bs-dropdown-link-hover-bg: #838386;
--bs-dropdown-link-active-color: #000000;
}

/* Seccion-Principal */
#seccion-principal{
    background-color: #838386;
}
.seccion{
    padding-left: 20%;
    width: 80%;
}

/* footer */
footer{
    background-color: #151515;
    color: #838386;
}
a {
    color: #838386;
    text-decoration: underline;
}
p {
    color: #838386;
}