#productos{
    width: 100%;
}
.carta{
    max-width: 30%;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    opacity: 0.7;
    z-index: 9999;
    cursor: pointer;
  }
  
  .scroll-to-top:hover {
    opacity: 1;
  }