<nav class="navbar navbar-expand-sm bg-dark navbar-dark rounded-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"> Home </a>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Productos</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/vistaAgregarProducto"> Jeans</a></li>
                      <li><a class="dropdown-item" href="/vistaAgregarProducto">shorts</a></li>
                      <li><a class="dropdown-item" href="/listarProductos">Camisetas</a></li>
                      <li><a class="dropdown-item" href="/listarProductos">Blusas</a></li>
                      <li><a class="dropdown-item" href="/listarProductos">Calzado</a></li>
                      <li><a class="dropdown-item" href="/listarProductos">Vestidos</a></li>
                      <li><a class="dropdown-item" href="/listarProductos">Enterizos</a></li>
                      <li><a class="dropdown-item" href="/listarProductos">Pijamas</a></li>
                      <li><a class="dropdown-item" href="/listarProductos">Lociones</a></li>
                      <li><a class="dropdown-item" href="/listarProductos">Gorras</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vistaComprar">Acerca</a>
                </li>
                <li>
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Contacto</a>
                </li>
                <li>
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Paginas</a>
                </li>
            </ul>
        </div>
    </div>
    
</nav>